// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;


$color--white-subtle: darken(#fff, 10%);

$color--red: #db0000;
$color--red-darken: darken( $color--red, 20% );
